<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>398226895490-bp02a1clbftgp9u9fp53eof9n7do3ate.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.398226895490-bp02a1clbftgp9u9fp53eof9n7do3ate</string>
	<key>API_KEY</key>
	<string>AIzaSyC6MIS-YCVTISpDUrUYbKPfgIGO0m5tPys</string>
	<key>GCM_SENDER_ID</key>
	<string>398226895490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toDoApp</string>
	<key>PROJECT_ID</key>
	<string>todoapp-35875</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-35875.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:398226895490:ios:f7197c89f96d9e70f77a9b</string>
</dict>
</plist>